# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://sckakntdieaiigbpbtzx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNja2FrbnRkaWVhaWlnYnBidHp4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxMjI1MDcsImV4cCI6MjA5NTY5ODUwN30.BvT02nhVZhCW7gej8BUq0KbSg1YnGvbXeafPMWPsLr8

# Backend API URL
NEXT_PUBLIC_API_URL=http://localhost:8000
