# Supabase Configuration
SUPABASE_URL=https://sckakntdieaiigbpbtzx.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNja2FrbnRkaWVhaWlnYnBidHp4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxMjI1MDcsImV4cCI6MjA5NTY5ODUwN30.BvT02nhVZhCW7gej8BUq0KbSg1YnGvbXeafPMWPsLr8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNja2FrbnRkaWVhaWlnYnBidHp4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDEyMjUwNywiZXhwIjoyMDk1Njk4NTA3fQ.hoMKD3dRsOfy4GvtONKBVDI8KZW2IZjq-R_2YMXWhk4
SUPABASE_JWT_SECRET=yZIo6QFhWmxkfGOoJnVABj0h9Dy109yprXG3oj3t/TtRev3OWMPN8ETeqS7I7C3aaffcTqPOct0sCIemNVKM2A==

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000

# Environment
ENVIRONMENT=development
